@import "partial";

$color-text: black; 

*{
    box-sizing: border-box;
}



/*--------------header---------------*/


.banner {  
    text-align: center;
    background:linear-gradient(black,transparent,grey), url("/images/ww_city.jpg") no-repeat center/cover;
    color: white;
    padding: 10% 0; 
    margin-bottom: 50px;
    padding-top: 100px; 
    height: 850px; 
}


.top {
    
    border: 2px solid grey;
    border-radius: 100px;
    width: 200px;
    transition: all .5s;   
}

.top:hover{
    transform: scale(.5)rotate(45deg);   
}

/*--------------body---------------*/

body {
    font-family: sans-serif; 
    line-height: 1.6; 
    color: $color-text;
    margin: auto; 
    background: grey;
    flex-direction: columns; 
    min-height:100vh; 
}

p{
    font-size: .95em; 
    margin-bottom: 1.8em;
}


a{
    text-decoration: none;
}

h1 {
    color: ghostwhite;
    font-size: 2.8em;
    padding-top: 150px; 
    font-weight: normal;
    font-size: 5.3em; 
    text-transform: uppercase;
    text-shadow: 10px 10px 10px black;
    
}
h2{
    color: black; 
    font-size: 2.8em; 
}
ul{
    margin: 0; 
    padding: 0; 
    list-style: none; 
}



/*--------------main-header---------------*/
.main-header{
    background: black;  
    width:100%; 
    position:fixed;
    top:0; 
    margin-bottom: 92px; 
}

.clicked{
    color: #FF0000    
}

.name, .main-nav {
    font-size: 1.25em; 
    margin: 0;
    padding: 10px 15px;
}    

.name a, 
.main-nav a {
    text-align: center;
    display: block; 
    color: whitesmoke;
    text-decoration: none; 
    padding: 10px 15px;
    text-transform: uppercase;
    border-right: solid firebrick 2px; 
}

.main-nav a:hover {
        border-bottom: solid red 2px; 
}

/*--------------body---------------*/

h2{
    font-size: 20px;
    font-style: oblique;
    margin: 15px;
}
.container{
    width:90%; 
    margin: auto; 
}



/*--------------footer---------------*/

.main-footer{
    background: grey; 
    padding: 2em 0; 
    margin-top: 30px; 
    text-align: center; 
    border-top: solid black 2px; 
    
}






/*--------------flex box-------*/
.main-nav,
.main-header, 
.main-nav li,
.container,
.body {
    display: flex; 
}
.col{
    flex:1; 
    padding: 3px;
    margin: 5px; 
    border: solid black 2px; 
}

.main-nav, 
.main-header{
        padding: 10px; 
}
.main-header{
    flex-direction: row; 
    justify-content: space-between;
}

